@using FreelanceTool.Helpers
@using FreelanceTool.Models.Enums
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject AppLocalizer AppLocalizer

@model FreelanceTool.ViewModels.AccountViewModels.LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = Localizer["Meta Title"];
}

<h1>@Localizer["Title"]</h1>
<i class="divider-thick"></i>

<div class="row center-block">
    <div class="col formcontainer">
        <div asp-validation-summary="All" class="text-danger"></div>

        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" id="loginform">
	        <div class="md-form">
		        <label asp-for="Email"></label>
		        <input asp-for="Email" class="form-control" autocomplete="on" />
		        <span asp-validation-for="Email" class="text-danger"></span>
	        </div>
            <div class="md-form">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
	        <div class="md-form">
		        <div class="form-check">
			        <input asp-for="RememberMe" class="form-check-input" />
			        <label class="form-check-label" asp-for="RememberMe"></label>
			        <span id="terms-error" class="text-danger"></span>
		        </div>
	        </div>
	        <div class="md-form" style="text-align: right;">
                <button type="button" class="btn btn-info btn-upload submit">
                    @Localizer["Submit"]
                </button>
            </div>

            @*
            <div class="form-group">
                <p>
                    <a asp-action="ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                </p>
            </div>
            *@
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script type="text/javascript">
        $(function () {
            // Add Submit to End-Button
            $("#loginform button.submit").bind("click", function () {
                $('#loginform').submit();
            });
        });
    </script>
}