@font-face {
    font-family: BrandonGrotesque;
    font-weight: normal;
    font-style: normal;
    src: url("/css/font/brandon-grotesque/Brandon_light.otf") format("opentype");
}

@font-face {
    font-family: 'Brandon Grotesque';
    font-weight: normal;
    font-style: italic;
    src: url("/css/font/brandon-grotesque/Brandon_light_it.otf") format("opentype");
}

@font-face {
    font-family: 'Brandon Grotesque';
    font-weight: lighter;
    font-style: normal;
    src: url("/css/font/brandon-grotesque/Brandon_thin.otf") format("opentype");
}

@font-face {
    font-family: 'Brandon Grotesque';
    font-weight: lighter;
    font-style: italic;
    src: url("/css/font/brandon-grotesque/Brandon_thin_it.otf") format("opentype");
}

@font-face {
    font-family: 'Brandon Grotesque';
    font-weight: bolder;
    font-style: normal;
    src: url("/css/font/brandon-grotesque/Brandon_reg.otf") format("opentype");
}

@font-face {
    font-family: 'Brandon Grotesque';
    font-weight: bolder;
    font-style: italic;
    src: url("/css/font/brandon-grotesque/Brandon_reg_it.otf") format("opentype");
}

@font-face {
    font-family: 'Brandon Grotesque';
    font-weight: bold;
    font-style: normal;
    src: url("/css/font/brandon-grotesque/Brandon_med.otf") format("opentype");
}

@font-face {
    font-family: 'Brandon Grotesque';
    font-weight: bold;
    font-style: italic;
    src: url("/css/font/brandon-grotesque/Brandon_med_it.otf") format("opentype");
}
