@using FreelanceTool.Models.Enums
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@model ApplicationCreateViewModel
@{
    ViewData["Title"] = Localizer["Main Title"];
}

<div class="body-content min-height-content">
    <h1>@Localizer["Main Title"]</h1>
    <i class="divider-thick"></i>

    <h3>@Localizer["Sub Title"]</h3>
    <p style="padding-bottom: 75px;">@Localizer["Explanation Text"]</p>
</div>



