
@{
	ViewData["Title"] = "Create";
}

<h2>Test file uploading</h2>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<form method="post" enctype="multipart/form-data">
			<div class="form-group">
				<div class="col-md-10">
					<p>Upload one file using this form:</p>
					<input type="file" name="TestFile" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-10">
					<input type="submit" value="Upload" class="form-control" />
				</div>
			</div>
		</form>
	</div>
</div>


